/Лабораторная 1/Задача1/bin
/Лабораторная 1/Задача1/obj
/Лабораторная 1/Задача 2/bin
/Лабораторная 1/Задача 2/obj
/Лабораторная 1/Задача 3/obj
/Лабораторная 1/Задача 3/bin
/Лабораторная 1/Задача 4/obj
/Лабораторная 1/Задача 4/bin
/Лабораторная 1/Задача 5/obj
/Лабораторная 1/Задача 5/bin
/Лабораторная 1/Задача 6/obj
/Лабораторная 1/Задача 6/bin
/Лабораторная 1/Задача 8/obj
/Лабораторная 1/Задача 8/bin
/Лабораторная 1/Задача7/obj
/Лабораторная 1/Задача7/bin
/Лабораторная 1/Задача 9/obj
/Лабораторная 1/Задача 9/bin
/Лабораторная 1/Задача 10/obj
/Лабораторная 1/Задача 10/bin
/Лабораторная 1/Задача 11/obj
/Лабораторная 1/Задача 11/bin
/Лабораторная 2/Задание1/obj
/Лабораторная 2/Задание1/bin
/Лабораторная 2/Задача2/obj
/Лабораторная 2/Задача2/bin
/Лабораторная 2/Задача3/obj
/Лабораторная 2/Задача3/bin
/Лабораторная 2/Задача4/obj
/Лабораторная 2/Задача4/bin
/Лабораторная 2/Задача 5/obj
/Лабораторная 2/Задача 5/bin
/Лабораторная 2/Задача 6/obj
/Лабораторная 2/Задача 6/bin
/Лабораторная 2/Задача 7/obj
/Лабораторная 2/Задача 7/bin
/Лабораторная 2/Задача 8/obj
/Лабораторная 2/Задача 8/bin
/Лабораторная 2/Задача 9/obj
/Лабораторная 2/Задача 9/bin
/Лабораторная 2/Задача 10/obj
/Лабораторная 2/Задача 10/bin
/Лабораторная 2/Задача 11/obj
/Лабораторная 2/Задача 11/bin
/Лабораторная 2/Задача 12/obj
/Лабораторная 2/Задача 12/bin
/Лабораторная 2/Задача 13/obj
/Лабораторная 2/Задача 13/bin
/Лабораторная 2/Задача 14/obj
/Лабораторная 2/Задача 14/bin
/Лабораторная 2/Задача 15/obj
/Лабораторная 2/Задача 15/bin
/Лабораторная 2/Задача 16/obj
/Лабораторная 2/Задача 16/bin
/Лабораторная 2/Задание 17/obj
/Лабораторная 2/Задание 17/bin
/Лабораторная 2/Задача 18/obj
/Лабораторная 2/Задача 18/bin
/Лабораторная 2/Задача 19/obj
/Лабораторная 2/Задача 19/bin
/Лабораторная 2/Задача 20/obj
/Лабораторная 2/Задача 20/bin
/Лабораторная 2/задание 21/obj
/Лабораторная 2/задание 21/bin
/Лабораторная 2/Задача 22/obj
/Лабораторная 2/Задача 22/bin
/Лабораторная 2/Задача 23/obj
/Лабораторная 2/Задача 23/bin
/Лабораторная 2/Задача 24/obj
/Лабораторная 2/Задача 24/bin
/Лабораторная 2/Задача 25/obj
/Лабораторная 2/Задача 25/bin
/Лабораторная 2/Задача 26/obj
/Лабораторная 2/Задача 26/bin
/Лабораторная 5/*/obj
/Лабораторная 5/*/bin
/Лабораторная 2/*/obj
/Лабораторная 2/*/bin
/Лабораторная 6/*/obj
/Лабораторная 6/*/bin
/Лабораторная работа 7/*/obj
/Лабораторная работа 7/*/bin
/Лабораторная работа 8/*/obj
/Лабораторная работа 8/*/bin
/Stage 2/*/obj
/Stage 2/*/bin
/Stage 2/packages
/Лабораторная 10/*/obj
/Лабораторная 10/*/bin